.nav-links{
    margin: 0;
    padding: 1%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px var(--light-grey);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    z-index: 50;
}

.link{
    text-decoration: none;
    margin: 0% 2%;
}

.btn-style{
    width: 6rem !important;
    padding: 1% 5%;
    color: var(--white) !important;
    font-weight: bold !important;
}

.btn-style:hover{
    color:var(--black) !important;
    border:none !important;
    box-shadow: none;
}
