.nav-links{
    margin: 0;
    padding: 1%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px var(--light-grey);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    z-index: 50;
}

.link{
    text-decoration: none;
    margin: 0% 2%;
}

.btn-style{
    width: 6rem !important;
    padding: 1% 5%;
    color: var(--white) !important;
    font-weight: bold !important;
}

.btn-style:hover{
    color:var(--black) !important;
    border:none !important;
    box-shadow: none;
}

.input-tag{
    position: absolute !important;
    right: 12% !important;
    width:200px !important;
    margin: -1.5% auto !important;
}

.profile-icon{
    position: absolute !important;
    right: 6% !important;
}

.badge{
    position: absolute !important;
    right: 13% !important;
    color: var(--white) !important;
    cursor: pointer;
    margin-top: 0.5% !important;
}

.badge:hover{
    color: var(--black) !important;
}

.badge-icon{
    position: absolute !important;
    right: 0% !important;
}

.signup-style{
    position: absolute !important;
    right: 2% !important;
}

.login-style{
    position: absolute !important;
    right: 8% !important;
}

.logout-icon{
    position: absolute !important;
    right: 1% !important;
}

@media screen and (max-width:800px){
    .profile-icon{
        position: absolute !important;
        right: 15% !important;
    }
    
    .signup-style{
        position: absolute !important;
        right: 1% !important;
    }
    
    .login-style{
        position: absolute !important;
        right: 16% !important;
    }
    
    .logout-icon{
        position: absolute !important;
        right: 0% !important;
    }
}
